.navbar-logo {
    width: 50px;
}

.buttons-hero-webgencia {
    display: flex;
    gap: 15px;
}

.autor-quote {
   margin-left: 5px;
}

.test {
    height : 100vh;
}

@media screen and (max-width: 991px) {
    .buttons-hero-webgencia {
        justify-content: center;
        gap: 15px;
    }
}