.navbar-logo {
    width: 50px;
}

.buttons-hero-webgencia {
    display: flex;
    gap: 25px;
}

.autor-quote {
   margin-left: 5px;
}

.link-contact-webgencia {
    color: #c2c2c2;
}

.write-me-webgencia {
    z-index: 1 !important;
}

#section-counter {
    z-index: 2 !important;
}

@media screen and (max-width: 991px) {
    .buttons-hero-webgencia {
        justify-content: center;
        gap: 15px;
    }
}

